{% set active_page = "results" %} {% extends "oldViews/base.html" %}
{% block head %}
<style>
    body{
        background-color: black;
    }
    #accordion > div > a{
        color:rgba(0,0,0,0.5);
        font-size:2em;
        font-weight: 100;
    }
    #accordion > div{
        margin-top:2em;
        margin-bottom:1em;
    }
    #accordion > div > a:hover{
        text-decoration: none;
    }
    div.titles {
        position: absolute;
        bottom: 0;
        left: 1.5em;
    }
</style>
{% endblock %}
{% block body %}
<div id="search-list" style="padding-top:50px;">
    <div class="container-fluid" style="padding:0;">
        <div class="row" style="color: white;">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2">

            </div>
            <div class="col-xs-11 col-sm-11 col-md-10 col-lg-offset-1 col-lg-10">
                <h1 class="h3 text-center" style="margin-top: 20px;">
                    Resultados de la busqueda <i>{{items["word"]}}</i>
                </h1>
            </div>
        </div>
        <div class="row" style="color: white;">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="sidenav">

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                {%if is_university(items["result"])%}
                <div class="panel panel-default" style="margin-top: 15px;">
                    <div class="panel-body" style="background: black">
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                            <img class="img-rounded img-responsive" src="{{if_none(items['result'].logo,'http://cdn0.iconfinder.com/data/icons/customicondesignoffice5/256/examples.png')}}" alt=""/>
                        </div>
                        <div class="col-lg-11 col-md-11">
                            <b><h3 style="margin-top: -5px;">{{items["result"].name}}</h3></b>
                            <h5><p class="text-justify">{{items["result"].description}}</p></h5>
                        </div>
                    </div>
                </div>

                {% for career in join_campus(items["result"]) %}

                <b><h2>{{career.name}}</h2></b>
                <h6>{{career.description}}</h6>
                {% endfor %}
                <br/>
                {%endif%}

                {%if is_career(items["result"])%}
                <div class="panel panel-default" style="margin-top: 15px;">
                    <div class="panel-body" style="background: black">
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                            <img class="img-rounded img-responsive" src="{{if_none(items['result'].icon,'http://cdn0.iconfinder.com/data/icons/customicondesignoffice5/256/examples.png')}}" alt=""/>
                        </div>
                        <div class="col-lg-11 col-md-11">
                            <b><h3 style="margin-top: -5px;">{{items["result"].name}}</h3></b>
                            <h5><p class="text-justify">{{items["result"].description}}</p></h5>
                        </div>
                    </div>
                </div>
                <h4>Puedes estudiar {{items["result"].name}} en las siguientes universidades:</h4>

                {% for university in join_universities_from_campuses(items["result"].places) %}
                <div class="row" style="margin-top: 20px">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <img class="img-rounded img-responsive"
                             src="{{if_none(university.logo,'http://cdn0.iconfinder.com/data/icons/customicondesignoffice5/256/examples.png')}}"
                             alt=""/>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                        <a style="color:white;" href="{{url_for('index.universities_page', university=university.name.replace(' ','-'))}}">
                        <b><h3 style="margin-top: 1px;">{{university.name}}</h3></b></a>
                    </div>
                </div>
                {% endfor %}
                <br/>
                {%endif%}

                {%if is_knowledge_area(items["result"])%}
                <div class="panel panel-default" style="margin-top: 15px;">
                    <div class="panel-body" style="background: black">
                        <!--<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                            <img class="img-rounded img-responsive"
                                 src="{{if_none(items['result'].icon,'http://cdn0.iconfinder.com/data/icons/customicondesignoffice5/256/examples.png')}}"
                                 alt=""/>
                        </div>-->
                        <div class="col-lg-11 col-md-11">
                            <b><h3 style="margin-top: -5px;">{{items["result"].name}}</h3></b>
                            <h5><p class="text-justify">{{items["result"].description}}</p></h5>
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12 col-xs 12">
                <b><h3 class="text-center">Búsquedas similares</h3></b>

            </div>
        </div>
    </div>
</div>
{% endblock %}
