/*General*/
body{
    /*padding-top: 70px;*/
}
.footerStatic{
position: absolute;
bottom: 0;
}
#topNavBar{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 0px;
    box-shadow: none;
}
#topNavBar:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
.navbar-default .navbar-nav>li>a{
    color: white;
}

.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
          transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background: white;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
          transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}
#accordion > div > div.panel-heading{
  text-align: center;
}
/*Sizes*/
.size-sixteen-nine{
    position:relative;
    width: 100%;
    height: 0px;
    padding-bottom: 56%;
    padding-top: 50px;
    background-size: cover;
}
.size-four-one{
    position:relative;
    width: 100%;
    height: 0px;
    padding-bottom: 25%;
    padding-top: 50px;
    background-size: cover;
    background-position: center;
}
.size-one-one{
    position:relative;
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    background-size: contain;
    background-position: center;  
}
.size-fully{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.list-image-bg{
	background-repeat: no-repeat;
	background-size: cover !important;
	box-shadow: inset 0px -55px 30px 0px rgba(0, 0, 0, 0.8);
}
.list-university-icons{
	
}
.list-university-icons > span{
	padding: 0.5em;
	font-size: 1.25em;
}
#frame > div > div.col-xs-12.col-sm-12.col-md-9.col-lg-9 > div > div > div{
	padding: 0;
	border-bottom: solid 1px #2d2d2d;
	border-right: solid 1px #2d2d2d;
}
#frame > div > div.col-xs-12.col-sm-12.col-md-9.col-lg-9 > div > div > div > a{
	color: white;
}
#frame > div > div.col-xs-12.col-sm-12.col-md-9.col-lg-9{
	padding: 0;
}
#frame > div > div.col-xs-12.col-sm-12.col-md-9.col-lg-9 > div > div > div > a > div > div > div > div.titles{
	position: absolute;
	bottom: 0;
	left: 1.5em
}
#verified{
  text-transform: uppercase;
  font-weight: bolder;
  color: rgba(255,255,255,0.7);
  margin-right: 1em;
}
#verified.true > span{
  color: #2ecc71;
  margin-right: 0.5em;
}
#cover-university{
  box-shadow: inset 0px -100px 100px 0px rgba(0, 0, 0, 0.6);
}
#stats-cover{
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}
#cover-title{
  width: 100%;
  position: absolute;
  bottom: 40px;
}
#cover-title > div > div > div > h1 {
  color: white;
  font-size: 2.25em;
}
#cover-title > div > div > div > h1{
  text-align: center;
}
li#site > a{
  border-radius: 0;
  padding: 0;
  display: inline-block;
  color: white;
  background-color: transparent;
}
li#site > a:hover{
  color: white;
  background-color: transparent;
}
li#site > a > span{
  color: #3498db;
  margin-right: 0.5em;
}
#careers > div > div > div > div.size-one-one > div{
  background-size: cover !important;
  background-repeat: no-repeat;
}
#headquarters > div > div > div{
  border-bottom: solid 1px rgba(0,0,0,0.1);
  margin-bottom: 1em;
}
footer{
    width: 100%;
    border-top: 0.5em solid #e53935;
    background-color: black;
}
footer > div.links > ul > li{
    padding: 2em 1.5em 1em 0em;
    text-transform: uppercase;
    font-weight: bold;
}
footer > div.links > ul > li > a{
    color: white;
    text-decoration: none;
}
footer > div.links > ul > li > a:hover{
    color: #e53935;
}
section.size-sixteen-nine > div.size-fully > div#index-cover-text{
    color: white;
    text-shadow: 0 0 20px black;
    line-height: 0.5;
    padding-top: 150px;
}
section.size-sixteen-nine > div.size-fully > div#index-cover-text > h1{
    font-size: 46px;
}
section.size-sixteen-nine > div.size-fully > div#index-cover-text > h2{
    font-size: 20px;
    font-weight: lighter;
}
section.size-sixteen-nine > div.size-fully > div#index-cover-text > a{
    border-radius: 0;
    color: white;
}
ul > li > span.text-stats{
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0,0,0,0.3);
  margin-right: 0.5em;
}
ul.additional-stats > li{
  margin-right: 0.7em;
}
#overview > div.info{
  margin-top: 1em;
}
aside#left > ul.sections > li{
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0,0,0,0.3);
  border-bottom: solid 1px rgba(0,0,0,0.3)
}
aside#left > ul.sections{
  margin-top: 1em;
}
aside#left > ul.sections > li > a{
  color: rgba(0,0,0,0.3);
}
aside#left > ul.sections > li > a:hover{
  color: black;
}
div.container > div.row > div.col-md-9 > div.row > h2{
  background-color: rgba(0,0,0,0.03);
  padding-left: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgba(0,0,0,0.15);
}
#overview > div.info > ul > li{
  margin-bottom: 0.2em;
}
/*End General*/
.row{
    margin-right: 0px;
}
p#signame{
    margin-right: 1em;
}
.not_found{
    background: #22272A;
}
.not_found nav{
    background-color: #0b0d0e;
    border-color: #171a1c;
}
.not_found h1{
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
    font-size: 9em;
}
.not_found h2{
    color: rgba(255, 255, 255, 0.4);
    font-size: 4em;
}
.not_found div{
    color: rgba(255, 255, 255, 0.9);
}
.error-template {
    padding: 40px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}
#frame{
	padding-top: 50px;
	padding-left: 0;
	padding-right: 0;
	background-color: #1d1d1d;
}
#frame > div > div.col-xs-12.col-sm-12.col-md-9.col-lg-9 > div.container-fluid{
	padding: 0;
}
@media (min-width: 992px) {
    .not_found{
        background-image: url("https://c2.staticflickr.com/6/5447/9286000388_7cb8ab30f4_b.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .not_found h1{
        color: rgba(0, 0, 0, 0.4);
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    }
    .not_found h2{
        color: rgba(0, 0, 0, 0.4);
    }
    .not_found div{
        color: rgba(0, 0, 0, 0.9);
    }
}

body.login{
    background-color: #062f3c;
}

div.member_signin {
    text-align: center;
}

div.member_signin  i.fa.fa-user {
    color: #FFF;
    background-color: #83b81a;
    border-radius: 500px;
    font-size: 36px;
    padding: 15px 20px 15px 20px;
}

div.fa_user {
    margin-top: -47px;
    margin-bottom: 15px;
}

p.member {
    font-size: 19px;
    color: #888888;
    margin-bottom: 20px;
}

button.login {
    width: 100%;
    text-transform: uppercase;
}

form.loginform div.input-group {
    width: 100%;
}

form.loginform input[type="email"], form.loginform input[type="password"] {
    color: #6C6C6C;
    text-align: center;
}


p.forgotpass {
    margin-top: 10px;
}

p.forgotpass a {
    color: #F5683D;
}

.modal-danger {
  color: #a94442;
  border-color: #ebccd1;
  background-color: #f2dede;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.modal-success {
  border-color: #d6e9c6;
  color: #3c763d;
  background-color: #dff0d8;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

@media (min-width: 992px) {
  #left > div.logo_university{
    margin-top: -100px;
    position: relative;
  }
  #cover-title > div > div > div > h1 {
    color: white;
    font-size: 3em;
  }
  #cover-title > div > div > div > h1{
    text-align: left;
  }
  #headquarters > div > div > div{
    margin-bottom: 2em;
  }
}