<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Athene</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/1.0.8/css/hover-min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body>
    <nav id="topNavBar" class="navbar navbar-default navbar-fixed-top hollow">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <strong><a class="navbar-brand" href="#">Athene</a></strong>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="#">Universidades</a>
                    </li>
                    <li><a href="#">Carreras</a>
                    </li>
                    <li><a href="#">Examen</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Otros<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left search-container" role="search" action="search">
                    <input id="search-box" type="text" class="search-box" name="q" />
                    <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span>
                    </label>
                    <input type="submit" id="search-submit" />
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="row" style="padding-top:8px;"><a href="#" class="btn btn-danger">Sign Up</a>
                        </div>
                    </li>
                    <li class="dropdown hidden">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="background-image: url(https://farm4.staticflickr.com/3009/3591792820_fe0f586aa4_b.jpg)" class="size-sixteen">
        <div class="size-sixteen-nine">
            <div class="shadow-left visible-xs-block"></div>
            <div class="shadow-right visible-xs-block"></div>
            <div class="shadow hidden-xs"></div>
            <div class="container" id="index-cover-text">
                <h1>Busca qué <br>realmente quieres ser.</h1>
                <h2 class="hidden-xs">Explora universidades &amp; carreras con Athene.</h2>
                <a type="button" class="btn btn-lg btn-danger" href="#">&#128515; Sign Up Now!</a>
            </div>
        </div>
    </section>
    <section class="container">
        <h1 class="text-center">Athene</h1>
        <div class="row">
            En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, consumían las tres partes de su hacienda. El resto della concluían sayo de velarte, calzas de velludo para las fiestas, con sus pantuflos de lo mesmo, y los días de entresemana se honraba con su vellorí de lo más fino. Tenía en su casa una ama que pasaba de los cuarenta, y una sobrina que no llegaba a los veinte, y un mozo de campo y plaza, que así ensillaba el rocín como tomaba la podadera.
        </div>
        <div class="row">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero suscipit maiores cumque iusto incidunt, ut inventore neque nisi voluptatibus ea veritatis eos mollitia, nobis reprehenderit perspiciatis sit enim modi quia?
        </div>
        <div class="row">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, quia. Tenetur voluptatibus unde quisquam culpa, quam, eos nihil similique pariatur distinctio sint quo omnis optio itaque voluptas animi in nesciunt.</div>
            <div>Aliquid perspiciatis adipisci ducimus facilis vel, nam eos, labore tempore eaque fugiat modi suscipit voluptatum officia quisquam distinctio veniam hic nisi est. Dolore eos a nihil soluta numquam ipsa ut!</div>
            <div>Laboriosam sapiente doloribus recusandae, possimus, expedita praesentium soluta dolorum. Perspiciatis dolore consequatur id rerum excepturi unde consectetur voluptatum qui, totam ab deleniti dignissimos tenetur nisi, blanditiis distinctio officiis? Molestiae, molestias!</div>
            <div>Quae velit saepe veritatis reiciendis itaque dolorum autem atque modi laborum dolores in, quia, nemo fuga iure, soluta, placeat eius possimus maxime assumenda repudiandae sequi! Dolorem eligendi nihil dolorum quas.</div>
            <div>Non ex laboriosam laudantium ipsa nostrum aspernatur officiis sed provident sapiente id velit molestiae quos praesentium beatae nam rerum itaque exercitationem, doloremque. Qui ab, non. Tempora, delectus facere maxime atque.</div>
            <div>Hic qui nostrum ducimus voluptatem voluptas doloremque inventore nemo aliquam at nam nulla doloribus, rerum possimus quam labore sint quaerat tempora, fugiat repellendus quo officiis. Culpa numquam blanditiis qui, nobis?</div>
            <div>Dolorum illum iure iusto, itaque non, numquam quod nemo officiis expedita esse ipsum, sunt accusantium? Molestiae aut maiores accusantium dolorum, labore tenetur error ipsa vitae expedita nihil, quidem quis, impedit!</div>
            <div>Iusto error quidem illum voluptatum, ratione, amet minus, ipsa maiores ex aliquid reprehenderit beatae, eaque id alias quasi a rem. Nulla aspernatur perspiciatis, officiis velit corporis qui quo atque esse.</div>
            <div>Dolore eaque quisquam quaerat magnam. Eum ullam alias cupiditate perferendis laborum rerum itaque distinctio expedita rem ab placeat, vel commodi enim harum, quas quos, ipsa quo, sint. Earum dolorem, ducimus!</div>
            <div>Illo error id doloribus quam veniam, laboriosam adipisci. Necessitatibus vero omnis tenetur labore eos facilis quam architecto eius, modi doloribus recusandae ex aut sapiente dicta. Amet eveniet voluptate, mollitia officia.</div>
            <div>Corporis sunt ipsum, reiciendis, dolore dicta aut consectetur laudantium debitis saepe laboriosam rerum repellendus, at veritatis voluptatem iste nobis! Aliquid esse deserunt asperiores minus aspernatur tempore at, mollitia optio culpa.</div>
            <div>Quisquam provident, autem eligendi. Officia possimus ducimus cumque vel blanditiis natus rerum quis, autem earum illo nulla atque, temporibus recusandae debitis voluptatem, et similique excepturi assumenda vitae. Aut, ea, minima.</div>
            <div>Quibusdam repudiandae, cumque autem earum sapiente ex ipsum incidunt explicabo optio tempore maxime vero, nihil laboriosam corporis totam. Nemo atque, ea odit! Cum earum, ad repudiandae, officia nisi rerum dolores.</div>
            <div>Sapiente, eveniet beatae voluptates excepturi iure nihil maiores doloribus officiis dolores deserunt fugiat quia similique ipsum sunt, nostrum obcaecati aliquam tempora, veritatis! Recusandae accusantium minima, iure rerum fuga nihil vel!</div>
            <div>Deleniti labore inventore eveniet, iusto ut iste vitae eos, obcaecati earum magnam ab ipsum, aut! Laboriosam labore praesentium veritatis, libero, inventore debitis sunt, velit culpa quasi id officiis autem laborum.</div>
            <div>Architecto, nulla tempore sed saepe praesentium alias delectus odit eligendi quisquam minus iste ad atque quibusdam, modi officiis cum, necessitatibus blanditiis perferendis hic molestias dignissimos esse voluptates eaque ipsam. Aperiam?</div>
            <div>Quisquam saepe aliquam tenetur excepturi facere perspiciatis minus nobis, aliquid magnam eos at amet voluptate non! Neque delectus modi commodi, voluptate dolorem in, et ex nostrum quis consequatur ipsa esse?</div>
            <div>Eaque, id minus dolorum error nihil obcaecati, sequi pariatur aut facere earum odio dignissimos iusto repellendus asperiores, assumenda cum ipsum. Culpa ratione assumenda distinctio quam obcaecati laudantium reiciendis provident repudiandae.</div>
            <div>Ea fuga nobis doloremque cum molestias saepe laboriosam, reiciendis ullam minima vel dignissimos vero, quisquam? Nemo nam aperiam assumenda veniam provident velit quia dicta numquam quae saepe, quisquam odio quasi!</div>
            <div>Nobis debitis harum quia reprehenderit rerum accusamus nihil, pariatur ipsa? Quis iste quas ea, et sunt minima illo earum rerum dicta provident consequatur perferendis, repellat enim nulla animi a fuga?</div>
        </div>
        <div class="row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nostrum, eius sit praesentium, eligendi corrupti vel autem, reiciendis omnis quisquam voluptatibus qui inventore enim soluta esse iste eos. Reiciendis, consequuntur.</div>
        <div class="row">Nemo quibusdam fuga, reiciendis nihil voluptatibus doloribus non exercitationem maxime quisquam perferendis. Eveniet dolorem accusantium laborum. Cum, ipsa laborum quasi quo adipisci illo amet perspiciatis nihil in tempora. Voluptas, laborum.</div>
        <div class="row">Corporis laboriosam debitis dicta voluptatum veritatis ullam saepe rerum accusamus impedit fugit labore qui fugiat, cum, eveniet suscipit optio ut fuga, officia at. Nemo fugiat, vitae officiis qui odit eligendi.</div>
        <div class="row">Ea praesentium molestias omnis eveniet velit, fuga dignissimos at dolore aliquid recusandae qui vero expedita minima obcaecati fugiat! Porro pariatur, eveniet perspiciatis fuga labore, tempora ipsum id quo sed odit?</div>
        <div class="row">Aspernatur at rerum reprehenderit deserunt eius ad et unde, voluptate repellat impedit eum necessitatibus qui minima delectus asperiores explicabo quas nemo repudiandae minus facere dolor! Velit iusto, id tempore eveniet.</div>
        <div class="row">Non aut, molestias et, dolores dolore natus delectus ex quasi quis minima quod illum. Quam labore quo, quasi! Sit commodi cum tenetur fugit facilis magni dignissimos atque odio provident distinctio.</div>
        <div class="row">Alias rem, exercitationem hic, similique tempora dolorem, quisquam voluptatem perferendis itaque facilis, maxime consequuntur odio veritatis. Adipisci facilis reiciendis dolores. Quis eligendi amet omnis nesciunt quisquam necessitatibus placeat non unde.</div>
        <div class="row">Adipisci dolorum consequuntur nostrum officiis est porro magnam quae nihil illo consequatur quibusdam tenetur incidunt earum, aliquid explicabo, pariatur. Dolores animi, ut aut at tempora eligendi pariatur qui nesciunt molestias.</div>
        <div class="row">Fugit officia temporibus doloribus tenetur modi, ad cum tempore, similique pariatur! Recusandae quam libero eum placeat perferendis rem facilis error deleniti nam ducimus est iure nulla porro, dignissimos quos non.</div>
        <div class="row">Natus minima repudiandae quo odit aspernatur officia neque debitis repellat quod fugiat, ut modi, consequuntur sit aperiam corrupti rem. Earum soluta temporibus ea inventore iure in, nobis consequuntur placeat reprehenderit.</div>
    </section>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    document.addEventListener("touchstart", function() {}, true);
    </script>
    <footer>
        <div class="container links">
            <ul class="list-inline">
                <li role="presentation"><a href="#">Acerca de</a>
                </li>
                <li><a href="#">Ayuda</a>
                </li>
                <li><a href="#">Terminos</a>
                </li>
                <li><a href="#">Privacidad</a>
                </li>
                <li><a href="#">Copyright</a>
                </li>
                <li><a href="">Feedback</a>
                </li>
                <li><a href="">?</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <img align="left" class="logo" height="30" src="http://static.tumblr.com/a81sjwi/vk8nhe7po/ic_whatshot_128.png" alt="Mini white logo@2x">© 2015 Atares Team. All rights reserved.
            <br>Made by __Names__ in Medellín, Colombia.
        </div>
    </footer>
</body>

</html>
