{% set active_page = "career_page" %}
{% extends "base.html" %}
{% block body %}
<section style="background-image: url(http://placekitten.com/g/1280/720)" class="size-four-one">
    <div class="size-fully">
        <div class="shadow-left visible-xs-block"></div>
        <div class="shadow-right visible-xs-block"></div>
        <div class="shadow hidden-xs"></div>
        <div class="container" id="index-cover-text">

        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <aside id="left" class="col-md-3">
            <div class="logo_university" style="position: relative;margin-top: -130px;">
                <img src="https://cdn4.iconfinder.com/data/icons/medical-9/512/DNA-512.png" alt="Logo - {{career.name}}" class="img-responsive img-circle" style="background-color:rgba(255,255,255,0.1);" />
            </div>
            <h1>{{career.name}}</h1>
            <ul class="nav sections">
                <li class="active">
                    <a href="#overview">General</a>
                </li>
                <li>
                    <a href="#universities">{{join_universities_from_campuses(career.places.all())|length}} Universidades</a>
                </li>
                <li>
                    <a href="#headquarters">{{career.places.all()|length }} Sedes</a>
                </li>
                <li>
                    <a href="#comments">Commentarios</a>
                </li>
            </ul>

        </aside>
        <div class="container-fluid col-md-9">
            <div class="row" id="overview">
                <div class="info col-md-12">
                    <div class="description">
                        <blockquote>
                            <p class="text-justify">
                                {{career.description}}
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div id="universities" class="row">
                <h2>Universidades<small> ¿Dónde Estudiar?</small></h2>
                <div class="container-fluid">
                    <div class="row">
                    	{% for university in join_universities_from_campuses(career.places.all()) %}
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        	<h3 class="text-center"><a href="{{url_for('universities_page', university=university.name.replace(' ','-'))}}">{{university.name}}</a></h3>
                            <img src="{{if_none(university.background,'https://c2.staticflickr.com/6/5447/9286000388_7cb8ab30f4_b.jpg')}}" alt="Imagen de la Universidad" class="img-responsive"/>
                            <p>{{university.description[:100]|safe}}..</p>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>Sedes <small>¿En Qué Lugar Estudiar? </small></h2>
                <ul class="sections list-inline text-justify">
                {% for campus in career.places.all() %}
                    <li class="active h2 text-center">
                        <a style="color:rgba(0,0,0,0.7);" href="{{url_for('campus_page',university=campus.place.university.name.replace(' ', '-'),campus=campus.place.campus_name.replace(' ','-'))}}"><small>&#9899;{{campus.place.university.name}}:</small>
                            <br/>{{campus.place.campus_name}}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="row" id="comments">
                <h2>Commentarios</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt amet unde laudantium similique officia iste, labore quibusdam magni libero culpa ratione facere, quasi ipsa, suscipit molestiae! Consequatur nam qui nostrum.</p>
            </div>
        </div>

    </div>
</div>
</div>


{% endblock %}
