{% set active_page = "careers" %}
{% extends "base.html" %}
{% block body %}
<div id="frame" class="container-fluid" style="min-height:600px;">
<div class="row" style="margin:0;">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-push-9" style="color:white;">
        <h1 class="text-center">Carreras</h1>
        <h2 class="h5 text-center">Tenemos <b>{{careers|length}}</b> carreras ingresadas</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-md-pull-3">
    <div class="container-fluid">
        <div class="row" style="margin:0;">
            {% for career in careers %}
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <a href="{{url_for('careers_page',career=career.name.replace(' ', '-'))}}">
                <div class="size-one-one">
                    <div>
                    <div class="size-fully list-image-bg" style="background:url({{if_none(career.icon,'http://cdn0.iconfinder.com/data/icons/customicondesignoffice5/256/examples.png')}});">
                        <div class="titles">
                            <h3>{{career.name}}</h3>
                        </div>
                    </div>
                    </div>
                </div>
                </a>
                <div class="list-university-icons">
                    <span class="glyphicon glyphicon-resize-full" aria-hidden="true" style="color:#2196f3;"></span>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="float:right;color:#f44336;"></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}
