{% set active_page = "career_at_university_page" %}
{% extends "base.html" %}
{% block body %}
<section style="background-image: url(http://placekitten.com/g/1280/720)" class="size-four-one">
    <div class="size-fully">
        <div class="shadow-left visible-xs-block"></div>
        <div class="shadow-right visible-xs-block"></div>
        <div class="shadow hidden-xs"></div>
        <div class="container" id="index-cover-text">

        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <aside id="left" class="col-md-3">
            <div class="logo_university" style="position: relative;margin-top: -130px;">
                <img src="{{careers[0].place.university.logo}}" alt="Logo" class="img-responsive img-thumbnail" style="background-color:rgba(255,255,255,0.1);" />
            </div>
        </aside>
        <div class="container-fluid col-md-9">
            <h1>{{careers[0].place.university.name}}<small> {{careers[0].career.name}}</small></h1>
            <p class="lead">Hay {{careers|length}} lugares donde puedes estudiar
            {{careers[0].career.name}} en {{careers[0].place.university.name}} </p>
            {% for career in careers %}
            <blockquote>
                <p>{{career.description}}</p>
                <footer style="background:transparent;border:0px;">En <cite title="Source Title">{{career.place.campus_name}}</cite></footer>
            </blockquote>
            {% endfor %}
            <div class="row">
                <h2>Lugares</h2>
                <ul class="sections list-inline text-justify">
                {% for campus in careers %}
                    <li class="active h2"><a style="color:rgba(0,0,0,0.7);" href="{{url_for('campus_page',university=campus.place.university.name.replace(' ', '-'),campus=campus.place.campus_name.replace(' ','-'))}}">{{campus.place.campus_name}}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}
