{% extends "list_campus.html" %}
{% block body_panel %}
<script>
athene.controller('editCampusCtrl', function ($scope, $modal, $http) {

    $scope.campus_name = "{{campus.campus_name}}";
    $scope.campus_lat = "{{campus.lat}}";
    $scope.campus_long = "{{campus.long}}";
    $scope.campus_id_u = "{{campus.university.id}}"

  $scope.edit = function (id) {
    $http.get('/panel/edit_campus', {
      params: {
        method : 'POST',
        name: $scope.campus_name,
        lat: $scope.campus_lat,
        long: $scope.campus_long,
        id: "{{campus.id}}",
      }
    }).then(function(response){
          $scope.openStatusModal(response.data);
    });
  };

    $scope.openStatusModal = function (status) {
    if(status=='0'){
      template = 'fail.html'
    }else if(status=='1'){
      template = 'ok.html'
    }
    var modalInstance = $modal.open({
      templateUrl: template,
      controller: 'OkModalCtrl',
      resolve: {
      }
    });
  };

});

</script>

<script type="text/ng-template" id="ok.html">
    <div class="modal-header modal-success">
        <h3 class="modal-title modal-success">
             <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                Successful
        </h3>
    </div>
    <div class="modal-body">
        The operation was executed successfully :D
    </div>
    <div class="modal-footer">
         <button class="btn btn-success btn-sm" ng-click="close('campus')">
             <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ok
         </button>
    </div>
</script>

<script type="text/ng-template" id="fail.html">
    <div class="modal-header modal-danger">
        <h3 class="modal-title modal-danger">
             <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                ERROR
        </h3>
    </div>
    <div class="modal-body">
        An error occurred while the operation was executed
    </div>
    <div class="modal-footer">
         <button class="btn btn-danger btn-sm" ng-click="close()">
             <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ok
         </button>
    </div>
</script>

<h2 class="text-center" xmlns="">Edit Campus <i>{{campus.campus_name}} </i></h2>
<form class="form-horizontal" role="form" ng-controller="editCampusCtrl">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Campus Name</label>
        <div class="col-sm-9">
            <input name="name" type="name" class="form-control" id="inputName" ng-model="campus_name"
                   placeholder="Campus Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="selectName" class="col-sm-2 control-label">University</label>
        <div class="col-sm-9">
            <fieldset disabled>
                <select class="form-control" id="selectName" name="id" ng-model="campus_id_u">
                {% for university in data %}
                    <option value="{{ university.id }}">{{ university.name }}</option>
                {% endfor %}
                </select>
            </fieldset>
        </div>
    </div>
    <div class="form-group">
        <label alt="Latitud y Longitud" class="col-sm-2 control-label">Coordinates</label>
        <div class="col-sm-4">
            <input name="lat" type="name" class="form-control" id="inputLat" ng-model="campus_lat"
                   placeholder="Latitude" required>
        </div>
        <div class="col-sm-4 col-sm-push-1">
            <input name="long" type="name" class="form-control" id="inputLong" ng-model="campus_long"
                   placeholder="Longitude" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-info btn-sm" ng-click="edit({{campus.id}})">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save changes</button>
        </div>
    </div>
</form>
{% endblock %}