{% extends "list_career.html" %}
{% block body_panel %}
<script>
athene.controller('editCareerCtrl', function ($scope, $modal, $http) {

    $scope.career_name = "{{career.name}}";
    $scope.career_description = "{{career.description}}";
    $scope.career_type = "{{career.type}}";

  $scope.edit = function (id) {
    $http.get('/panel/edit_career', {
      params: {
        method : 'POST',
        id: id,
        name: $scope.career_name,
        description: $scope.career_description,
        type: $scope.career_type,

      }
    }).then(function(response){
          $scope.openStatusModal(response.data);
    });
  };

    $scope.openStatusModal = function (status) {
    if(status=='0'){
      template = 'fail.html'
    }else if(status=='1'){
      template = 'ok.html'
    }
    var modalInstance = $modal.open({
      templateUrl: template,
      controller: 'OkModalCtrl',
      resolve: {
      }
    });
  };

});

</script>

<script type="text/ng-template" id="ok.html">
    <div class="modal-header modal-success">
        <h3 class="modal-title modal-success">
             <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                Successful
        </h3>
    </div>
    <div class="modal-body">
        The operation was executed successfully :D
    </div>
    <div class="modal-footer">
         <button class="btn btn-success btn-sm" ng-click="close('career')">
             <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ok
         </button>
    </div>
</script>

<script type="text/ng-template" id="fail.html">
    <div class="modal-header modal-danger">
        <h3 class="modal-title modal-danger">
             <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                ERROR
        </h3>
    </div>
    <div class="modal-body">
        An error occurred while the operation was executed
    </div>
    <div class="modal-footer">
         <button class="btn btn-danger btn-sm" ng-click="close()">
             <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ok
         </button>
    </div>
</script>

<h2 class="text-center" >Edit <i>{{career.name}}</i></h2>
<form class="form-horizontal" role="form" action="" method="post" ng-controller="editCareerCtrl">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-9">
            <input name="name" type="name" class="form-control" id="inputName" ng-model="career_name"
                   placeholder="Career Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="textareaDescription" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-9">
            <textarea name="description" id="textareaDescription" class="form-control" rows="3" ng-model="career_description"
                      placeholder="Career Description" required></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-5">
            <label class="radio-inline">
              <input type="radio" name="type" id="inlineRadio1" ng-model="career_type" value="PREGRADO (Técnica)">PREGRADO (Técnica)
            </label> <br/>
            <label class="radio-inline">
              <input type="radio" name="type" id="inlineRadio2" ng-model="career_type" value="PREGRADO (Tegnología)">PREGRADO (Tégnología)
            </label>
        </div>
        <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="type" id="inlineRadio3" ng-model="career_type" value="PREGRADO (Profesional)">PREGRADO (Profesional)
            </label> <br/>
            <label class="radio-inline">
              <input type="radio" name="type" id="inlineRadio4" ng-model="career_type" value="POSGRADO">POSGRADO
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-info btn-sm" ng-click="edit({{career.id}})">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save changes</button>
        </div>
    </div>
</form>
{% endblock %}