{% extends "panel_base.html" %}

{% block body_panel %}
{% endblock %}

{% block list_panel %}
<b>Knowledge Areas</b>
<ul class="list-group">
{% for knowledge in knowledges %}
    <li class="list-group-item">
    <a href="{{ url_for('panel') }}/view_knowledge_area/{{knowledge.id}}">
    {{knowledge.name}}
    </a></li>
{% endfor %}
</ul>
<form action="{{ url_for('panel') }}/add_knowledge_area">
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
</form>

{% endblock %}