{% extends "panel_base.html" %}

{% block body_panel %}
{% endblock %}

{% block list_panel %}
<b>Careers At University</b>
<ul class="list-group">
{% for cat in cats_university %}
    <li class="list-group-item">
    <a href="{{ url_for('index.panel') }}/view_cat_university/{{cat.id}}">
    {{cat.career.name}} - {{cat.university.name}}
    </a></li>
{% endfor %}
</ul>
<form action="{{ url_for('index.panel') }}/add_cat_university">
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
</form>

{% endblock %}