{% extends "base.html" %}
{% block title %}Inicio de Sesi&oacute;n{% endblock %}
{% block css %}
    <style>
        html,body{
            height: 100%;
            background-color: #212121;
        }
    .valign-wrapper{
        height: 97%;
    }
    </style>
{% endblock %}
{% block body %}
    <div class="row valign-wrapper" id="login">
        <div class="col s12 m6 offset-m3 valign">
            <div class="card white">
                <div class="card-content">
                    <div class="card-title black-text center-align">Inicio de Sesi&oacute;n</div>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-account-circle prefix"></i>
                                    <input id="icon_username" type="text" class="validate">
                                    <label for="icon_username">Nombre de Usuario</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="mdi-action-lock prefix"></i>
                                    <input id="icon_password" type="password" class="validate">
                                    <label for="icon_password">Contrase&ntilde;a</label>
                                </div>
                            </div>
                            <div class="right-align">
                                <a class="btn-flat disabled">Registrarse</a>
                                <a id="login" class="btn waves-effect waves-light">Entrar</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('index.index') }}">Regresar</a>
                    <a href='#'>¿Contraseña Perdida?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $('a#login').click(function(){
            $.post(
                    "/api/login",
                    {username: $('#icon_username').val(),
                        password:$('#icon_password').val()
                    },
                    function(data){
                        if(data.status == "error"){
                            alert(data.error);
                        }
                        else{
                            document.location.href = "{{ url_for('index.index') }}";
                        }
                    },"json");
        });
    </script>
{% endblock %}