{% set active_page = "panel" %}
{% extends "base.html" %}
{% block body %}
<div class="container-fluid" style="padding-top:3.5em;padding-bottom:8em;">
    <div class="row">
        <div class="col-md-2">
            <h3>Project-Athene</h3>
            <div id="MainMenu">
                <div class="list-group panel">
                    <a href="#others" class="list-group-item active" data-toggle="collapse"
                       data-parent="#MainMenu">Others</a>
                    <div class="collapse" id="others">
                        <a href="{{ url_for('index.index') }}" class="list-group-item">Home</a>
                        <a href="{{ url_for('index.admin_link') }}" class="list-group-item">Admin Settings</a>
                    </div>
                    <a href="#add" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">manage</a>
                    <div class="collapse" id="add">
                        <a href="{{ url_for('list_university') }}" class="list-group-item">University</a>
                        <a href="{{ url_for('list_career') }}" class="list-group-item">Career</a>
                        <a href="{{ url_for('list_name') }}" class="list-group-item">Alther Name</a>
                        <a href="{{ url_for('list_campus') }}" class="list-group-item">Campus</a>
                        <a href="{{ url_for('list_cat_university') }}" class="list-group-item">Carrer at University</a>
                        <a href="{{ url_for('list_knowledge_area') }}" class="list-group-item">Knowledge Area</a>
                    </div>
                    <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-danger">Logout</a>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                Panel
                            </a>
                        </div>
                        <p class="navbar-text navbar-right" id="signame">Signed in as <a href="#" class="navbar-link">admin</a>
                            | <a href="{{ url_for('logout') }}">Logout</a></p>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% block list_panel %}{% endblock %}
                </div>
                <div class="col-md-8">
                    {% block body_panel %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
