{% set active_page = "results" %} {% extends "base.html" %}
{% block head %}
<style>
    body{
        background-color: black;
    }
    #accordion > div > a{
        color:rgba(0,0,0,0.5);
        font-size:2em;
        font-weight: 100;
    }
    #accordion > div{
        margin-top:2em;
        margin-bottom:1em;
    }
    #accordion > div > a:hover{
        text-decoration: none;
    }
    div.titles {
        position: absolute;
        bottom: 0;
        left: 1.5em;
    }
</style>
{% endblock %}
{% block body %}
<div id="search-list" style="padding-top:50px;">
    <div class="container-fluid" style="padding:0;">
        <div class="row" style="color: white;">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2">

            </div>
            <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10">
                <h1 class="h3" style="margin-top: 20px;">
                    Resultados de la busqueda <i>{{items["word"]}}</i>
                </h1>
            </div>
        </div>
        <div class="row" style="color: white;">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <!--<ul class="nav sections">
                    <li class="">
                        <a href="#universities">
                            Universidades
                        </a>
                    </li>
                    <li class="">
                        <a href="#careers">
                            Carreras
                        </a>
                    </li>
                    <li class="">
                        <a href="#campuses">
                            Sedes
                        </a>
                    </li>
                </ul>-->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                {%if is_university(items["result"])%}
                    Universidad: {{items["result"].name}}
                {%endif%}

                {%if is_career(items["result"])%}
                <div class="panel panel-default" style="margin-top: 10px;">
                    <div class="panel-body" style="background: black">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                            <img class="img-circle img-responsive" src="{{if_none(items['result'].icon,'http://cdn0.iconfinder.com/data/icons/customicondesignoffice5/256/examples.png')}}" alt=""/>
                        </div>
                        <div class="col-lg-10 col-md-10 ">
                            <b><h2 style="margin-top: -5px;">{{items["result"].name}}</h2></b>
                            {{items["result"].description}}
                        </div>
                    </div>
                </div>
                {%endif%}

                {%if is_knowledge_area(items["result"])%}
                    Área de conocimiento: {{items["result"].name}}
                {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock %}
