{% set active_page = "university_page" %}
{% extends "base.html" %}
{% block head %}
<link href="//cdn.jsdelivr.net/bxslider/4.1.1/jquery.bxslider.css" rel="stylesheet" />
<style type="text/css">
    body > section > div > div > div.bx-viewport{
        border:0 !important;
        left:0 !important;
    }
    body > section > div > div > div.bx-viewport > ul > li > div > div{
        box-shadow:none;
        background-position: center center !important;
    }
    #headquarters > div > div > div.bx-viewport > div > div > div > span{
        font-size:2em;
    
    }
</style>
{% endblock %}
{% block body %}
<section style="background-image: url({{ if_none(university.background,'http://placekitten.com/g/1280/720') }})" class="size-twentyone-nine">
    <div class="size-fully" id="cover-university">
        <div id="cover-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-push-3 col-md-9">
                        <h1>{{university.name}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="stats-cover">
            <div class="container">
                <div class="row">
                    <div class="col-md-push-3 col-md-9">
                        <ul class="nav nav-pills">
                            <li id="verified" class="true">
                                {% if if_none(university.established,'NO')=="NO" %}
                                {% elif university.established %}
                                    <span class="glyphicon glyphicon-ok"></span>Acreditada
                                {% else %}
                                    <span class="glyphicon glyphicon-remove"></span>NO Acreditada
                                {% endif %}
                            </li>
                            <li id="site">
                                <a href="{{ if_none(university.web_site,'#')|safe }}" target="_blank">
                                    <span class="glyphicon glyphicon-new-window"></span>
                                    {{ if_none(university.web_site,'<span style="color:rgba(255,0,0,0.5);">No Ingresado</span>')|safe }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <aside id="left" class="col-md-3">
            <div class="logo_university">
                <img src="{{university.logo}}" alt="Logo - {{university.name}}" class="img-responsive img-thumbnail" />
            </div>
            <ul class="nav sections">
                <li class="active">
                    <a href="#overview">
                        General
                    </a>
                </li>
                <li class="">
                    <a href="#headquarters">
                        {{university.places.all()|length }} Sedes
                    </a>
                </li>
                <li class="">
                    <a href="#careers">
                        {{join_campus(university)|length}} Carreras
                    </a>
                </li>
                <li class="">
                    <a href="#comments">
                        Commentarios
                    </a>
                </li>
            </ul>
            <br/>
            <h2>Social</h2>
            <div id="social" class="text-justify">
                {% if university.facebook %}
                <a href="https://www.facebook.com/{{university.facebook}}" target="_blank">
                    <img src="http://static.tumblr.com/a81sjwi/FYfnihx68/facebook-square.svg" width="23%" alt="Logotipo Facebook" style="background:#3b5998;margin-bottom:6px;"/>
                </a>
                {% endif %}
                {% if university.twitter %}
                <a href="https://" target="_blank">
                    <img src="http://static.tumblr.com/a81sjwi/crbnihxal/twitter.svg" width="23%" alt="Logotipo Twitter" style="background:#55acee;margin-bottom:6px;"/>
                </a>
                {% endif %}
                {% if False %}
                <a href="https://" target="_blank">
                    <img src="http://static.tumblr.com/a81sjwi/MWBnihx7h/googleplus-square.svg" width="23%" alt="Logotipo Google+" style="background:#dd4b39;margin-bottom:6px;"/>
                </a>
                {% endif %}
                {% if False %}
                <a href="https://" target="_blank">
                    <img src="http://static.tumblr.com/a81sjwi/Hx2nihx9a/instagram.svg" width="23%" alt="Logotipo Instagram" style="background:#3f729b;margin-bottom:6px;"/>
                </a>
                {% endif %}
                {% if False %}
                <a href="https://" target="_blank">
                    <img src="http://static.tumblr.com/a81sjwi/ar0nihxa1/youtube.svg" width="23%" alt="Logotipo Youtube" style="background:#e52d27;margin-bottom:6px;"/>
                </a>
                {% endif %}
                {% if False %}
                <a href="https://" target="_blank">
                    <img src="http://static.tumblr.com/a81sjwi/cebnihx6r/flickr.svg" width="23%" alt="Logotipo Flickr" style="background:#ff0084;margin-bottom:6px;"/>
                </a>
                {% endif %}
                {% if False %}
                <a href="https://" target="_blank">
                    <img src="http://static.tumblr.com/a81sjwi/kfhnihxdi/vimeo.svg" width="23%" alt="Logotipo Vimeo" style="background:#1ab7ea;margin-bottom:6px;"/>
                </a>
                {% endif %}
                {% if False %}
                <a href="https://" target="_blank">
                    <img src="http://static.tumblr.com/a81sjwi/hQqnihxet/rss-feed.svg" width="23%" alt="RSS Feed" style="background:#f86f09;margin-bottom:6px;"/>
                </a>
                {% endif %}
                {% if False %}
                <a href="https://" target="_blank">
                    <img src="http://static.tumblr.com/a81sjwi/P5Cnihxk1/mail.svg" width="23%" alt="Sent an email" style="background:#00405d;margin-bottom:6px;"/>
                </a>
                {% endif %}
            </div>
            <div class="buttoms">
                {% if if_none(university.facebook,False) %}
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2F{{university.facebook}}&amp;width&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=211595795571701" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:558px;" allowTransparency="true"></iframe>
                {% else %}
                How can i put here...?
                {% endif %}
            </div>            <!-- Twitter Frame -->
        </aside>
        <div class="container-fluid col-md-9">
            <div class="row" id="overview">
                <div class="info col-md-12">
                    <ul class="additional-stats list-inline">
                        <li class="stat"><span class="text-stats">Fundación</span>{{ if_none(university.established,'<a type="button" class="btn btn-danger btn-xs disabled">No Ingresado</a>')|safe }}</li>
                        <li class="stat"><span class="text-stats">Dirección</span>{{ if_none(university.address,'<a type="button" class="btn btn-danger btn-xs disabled">No Ingresado</a>')|safe }}</li>
                        <li class="stat"><span class="text-stats">Estudiantes</span>{{ if_none(university.students,'<a type="button" class="btn btn-danger btn-xs disabled">No Ingresado</a>')|safe }}<small style="margin-left:0.25em;color:#984447;"><abbr title="aproximadamente" style="border:none;">aprox.</abbr></small></li>
                        <li class="stat"><span class="text-stats">Rectorado</span>{{ if_none(university.principal,'<a type="button" class="btn btn-danger btn-xs disabled">No Ingresado</a>')|safe }}</li>
                        <li class="stat"><span class="text-stats">Lema</span>"<i>{{ if_none(university.motto,'<a type="button" class="btn btn-danger btn-xs disabled">No Ingresado</a>')|safe }}</i>"</li>
                    </ul>
                    <div class="description">
                        <blockquote>
                            <p class="text-justify">
                                {{(university.description)|safe}}
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="row" id="headquarters">
                <h2>Sedes</h2>
                <div class="container-fluid">
                    <div class="sedes">
                    {% for place in university.places.all() %}
                        <div class="slide">
                            <a href="{{url_for('index.campus_page',university=university.name.replace(' ', '-'),
                            campus=place.campus_name.replace(' ', '-'))}}">
                                <div class="size-sixteen-nine">
                                    <div class="size-fully list-image-bg" style="background:url({{if_none(place.background,'http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-116915.jpg')}});box-shadow:none;">
                                        <div style="border-radius:50%;position:absolute;z-index:10;height: 200px;width: 200px;overflow:hidden;opacity:0.9;right:1em;bottom:1em;">
                                            <iframe  width="100%" height="100%"frameborder="0" style="pointer-events:none; border:0;position:absolute;z-index:9;"
                                                     src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDu6jZ0QqCMctO8SY4n-JfCqmLbtL5knjc
                                                    &q={{ place.lat }},{{ place.long }}"></iframe>
                                        </div>
                                        <img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=' title="{{place.campus_name}}"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row" id="careers">
                <h2>Carreras</h2>
                <div class="container-fluid">
                    <div class="row">
                    {% for career in join_campus(university) %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="size-one-one">
                                <div class="size-fully"
                                     style="background:url({{if_none(career.icon,'https://cdn4.iconfinder.com/data/icons/medical-9/512/DNA-256.png')}});">
                                    <a href="{{ url_for('index.careers_page',career=career.name.replace(' ', '-'))}}" class="btn btn-lg"
                                        style="position: absolute;right: 0%;bottom: 0%;">
                                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                    </a>
                                    <a href="{{url_for('index.career_at_university_page',university=university.name.replace(' ', '-'),career=career.name.replace(' ', '-'))}}"
                                       style="position: absolute;left: 0%;bottom: 0%;" class="btn btn-lg">
                                        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="caption">
                                <h3 class="text-center">{{ career.name }}</h3>
                                <p class="text-justify">
                                    {{career.description[:100]+"..."}}
                                </p>
                            </div>
                        </div>

                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="//cdn.jsdelivr.net/bxslider/4.1.1/jquery.bxslider.min.js"></script>
<script>
$(document).ready(function(){
    $('.sedes').bxSlider({
        minSlides: 1,
        maxSlides: 1,
        moveSlides: 1,
        captions:true,
        auto:true,
    });
});
</script>
{% endblock %}