{% set active_page = "university_page" %}
{% extends "base.html" %}
{% block body %}
<section style="background-image: url({{ if_none(university.background,"http://placekitten.com/g/1280/720") }})" class="size-four-one">
    <div class="size-fully">
        <div class="shadow-left visible-xs-block"></div>
        <div class="shadow-right visible-xs-block"></div>
        <div class="shadow hidden-xs"></div>
        <div class="container" id="index-cover-text">

        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <aside id="left" class="col-md-3">
            <div class="logo_university" style="position: relative;margin-top: -100px;">
                <img src="{{university.logo}}" alt="Logo - {{university.name}}" class="img-responsive img-thumbnail" />
            </div>
            <h1>{{university.name}}</h1>
            <ul class="nav sections">
                <li class="active"><a href="#overview">General</a>
                </li>
                <li class=""><a href="#headquarters">{{university.places.all()|length }} Sedes</a>
                </li>
                <li class=""><a href="#careers">{{join_campus(university)|length}} Carreras</a>
                </li>
                <li class=""><a href="#names">{{university.names.all()|length}} Nombres</a>
                </li>
                <li class=""><a href="#comments">Commentarios</a>
                </li>
            </ul>
        </aside>
        <div class="container-fluid col-md-9">
            <div class="row" id="overview">
                <div class="info col-md-8">
                    <ul class="additional-stats list-inline">
                        <li class="stat"><span>Lema</span> Lorem ipsum</li>
                        <li class="stat"><span>Fundación</span>1989</li>
                        <li class="stat"><span>Dirección</span>Carrera 49 N° 7 Sur - 50</li>
                        <li class="stat"><span>Estudiantes</span>12.000</li>
                        <li class="stat"><span>Rectorad</span>Alberto Uribe Correa</li>
                        <li class="stat"><span>Sitio web</span><a href="http://www.eafit.edu.co/" target="_blank">eafit.edu.co</a>
                        </li>
                    </ul>
                    <div class="description">
                        <p class="text-justify">
                            {{university.description|safe}}
                        </p>
                    </div>
                </div>
                <div class="buttoms col-md-4">
                    <button type="button" class="btn btn-lg btn-block btn-info">button</button>
                    <button type="button" class="btn btn-lg btn-block btn-success">button</button>
                    <button type="button" class="btn btn-lg btn-block btn-primary">button</button>
                </div>
            </div>
            <div class="row" id="headquarters">
                <h2>Sedes</h2>
                <div class="container-fluid">
                    <div class="row">
                    {% for place in university.places.all() %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="{{url_for('campus_page',university=university.name.replace(' ', '-'),
                            campus=place.campus_name.replace(' ', '-'))}}">
                            <iframe width="100%" frameborder="0" style="pointer-events:none; border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDu6jZ0QqCMctO8SY4n-JfCqmLbtL5knjc
                            &q={{ place.lat }},{{ place.long }}"></iframe>
                            <h3>{{ place.campus_name }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row" id="careers">
                <h2>Carreras</h2>
                <div class="container-fluid">
                    <div class="row">
                    {% for career in join_campus(university) %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="size-one-one">
                                <div class="size-fully"
                                     style="background:url(https://cdn4.iconfinder.com/data/icons/medical-9/512/DNA-256.png);">
                                    <a href="{{ url_for("careers")+"/"+career.name.replace(" ", "-")}}" class="btn btn-lg"
                                        style="position: absolute;right: 0%;bottom: 0%;">
                                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                    </a>
                                    <a href="{{university.name.replace(' ', '-')+'/career/'+career.name.replace(' ', '-')}}"
                                       style="position: absolute;left: 0%;bottom: 0%;" class="btn btn-lg">
                                        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                                    </a>
                                    <h3>{{ career.name }}</h3>
                                </div>
                                </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row" id="names">
                <h2>Nombres</h2>
                <div>
                    {% for name in university.names.all() %}
                        <a href="#" class="btn btn-default btn-lg disabled">{{ name.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="row" id="comments">
                <h2>Commentarios</h2>
                <textarea class="form-control" rows="3"></textarea>
                <br/>
            </div>
        </div>

    </div>
</div>
</div>


{% endblock %}
